#blue{
    color: blue;
}
.red{
    color: red;
}
.white{
    color: white;
}
body{
    background-image: url(../Img/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.gymfreaks{
    border: 5px solid black;
}
.gymfreaks img{
    width: 400px;
    height: 400px;
    object-fit:contain
}